/* Typography */
@font-face {
    font-family: "liberator-heavy";
    src:
        url("./fonts/liberator-siroko-heavy.woff2") format("woff2"),
        url('./fonts/LiberatorSIROKO-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: "Inconsolata";
    src:
        url("./fonts/inconsolata.woff2") format("woff2"),
        url('./fonts/inconsolata.ttf') format('truetype');
}

@font-face {
    font-family: "Inter";
    src:
        url("./fonts/inter.woff2") format("woff2"),
        url('./fonts/inter.ttf') format('truetype');
}

@font-face {
    font-family: "Material Icons";
    src:
        url('./fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.liberator-heavy{
    font-family: liberator-heavy;
}

.inconsolata{
    font-family: "Inconsolata", sans-serif;
}

.inter{
    font-family: "Inter", sans-serif;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Custom properties */
:root {
    --container-max-width: 940px;
    --color-white: rgb(255,255,255);
    --color-black: rgb(0,0,0);
    --color-gray: rgb(187,187,187);
}

/* General styles */
button{
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

p{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100%;
}

.header{
    margin-bottom: 25px;
    max-width: var(--container-max-width);
    margin: 0 auto 25px;
}

.header picture{
    display: inline-block;
    width: 100px;
    max-width: 28px;
}

.form-container, .footer-content{
    width: 100%;
    max-width: var(--container-max-width);
    margin: 0 auto;
}

.main-copy{
    font-size: 35px;
    line-height: 35px;
}

.secondary-copy{
    font-size: 16px;
    line-height: 18.72px;
}

.main-copy, .secondary-copy{
    color: var(--color-white);
}

.main-copy + .secondary-copy{
    margin-top: 15px;
}

.desktop-copy{
    margin-top: 15px;
    display: none;
}

.form-steps-header{
    margin-bottom: 25px;
}

.main{
    padding: 25px;
    flex-grow: 1;
    background-image: url("./images/background.webp");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.step{
    display: none;
    opacity: 0;
}

.step.current{
    display: block;
    opacity:1;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 10px 0;
    padding: 0;
    border: 0;
}

.fieldset-legend{
    color: rgb(239, 229, 195);
    margin-bottom: 10px;

    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16.44px;
    text-transform: uppercase;
}

.options-wrapper{
    border-radius: 3px;
    padding: 20px;
    background-color: rgb(49, 20,41);
}

.option{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    color: var(--color-white);
    background-color: rgba(255,255,255,0.09);
    transition: background-color 0.2s ease-in-out;
    border-radius: 4px;

    font-family: "Inconsolata", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 17.55px;
}

.option input{
    display: none;
}

.option.checked{
    background-color:rgba(201, 47, 88);
}

.custom-radio{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.option input:checked ~ .custom-radio:after {
    display: block;
    opacity: 1;
  }

.custom-radio::after{
    content: "";
    display: inline-block;
    width: 8px;
    height:8px;
    background-color: var(--color-white);
    border-radius: 50%;
    opacity: 0;
}

.button-next, .green-button{
    appearance: none;
    background-color:rgba(51, 155, 149,1);
    color: var(--color-white);
    border-radius: 4px;
    padding: 12px;
    max-height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;

    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.55px;
}

.button-icon{
    position: relative;
    left: 0;
    transition: left 0.2s ease-in-out;

}

.button-next:hover, .green-button:hover{
    background-color:rgba(51, 155, 149,0.8);
}

.button-next:hover .button-icon, .green-button:hover .button-icon{
    position: relative;
    left: 5px;
}

.countdown-wrapper{
    display: flex;
    align-items: center;
    border-radius: 3px;
    gap: 10px;
    padding: 10px;
    color: var(--color-white);
    background-color: rgb(44, 12, 35);
}

.countdown-wrapper.expired{
    background-color: rgb(197, 20, 20);
}

.countdown-wrapper.expired .remaining-time{
    display: none;
}

.countdown-wrapper.expired .expired-message{
    display: inline-block;
}

.countdown-wrapper .remaining-time{
    font-family: "Inconsolata", sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 31.59px;
}

.code-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 2px;
    background: linear-gradient(270deg, var(--color-white) 0%, rgb(189, 189, 189) 100%);
}

.code{
    text-transform: uppercase;
    font-family: "Inconsolata", sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.code-and-message{
    display: flex;
    align-items: center;
    gap: 10px;
}

.code-copied-message{
    font-family: "Inconsolata", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgb(51, 155, 149);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.code-copied-message.active{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.button-copy-code{
    font-family: "Inconsolata", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-black);
    border: 2px solid var(--color-black);
    padding: 6px 8px;
    background-color: transparent;
    opacity: 1;
    transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.button-copy-code:hover{
    background-color: var(--color-white);
    opacity: 0.7;
}

.success-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.success-wrapper .expired-message{
    display: none;
}

.expired-message{
    font-family: "Inconsolata", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.72px;
}

.expired-message .reboot-button{
    font-family: "Inconsolata", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.72px;
    background-color: transparent;
    color: var(--color-white);
    padding: 0;
}

.expired-message .reboot-button:after{
    content:"";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-white);
    transition: width 0.2s ease-in-out;
    margin: 0 auto;
}

.expired-message .reboot-button:hover:after{
    width: 70%;
}

.footer{
    padding: 25px;
    background-color: var(--color-black);
}

.footer-content{
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-family: "Inconsolata", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.38px;
}

.footer-content p{
    color: var(--color-gray);
}

.footer-content a{
    color: var(--color-gray);
    font-weight: 700;
}

.pill {
    display: inline-block;
    border-radius: 3px;
    padding: 3px 7px;
    background-color: rgb(93,194,189);
    margin-bottom: 15px;
}

.pill .pill-text{
    font-family: "Inter", sans-serif;
    font-size: 9px;
    font-weight: 700;
    color: rgb(44,94,91);
    text-transform: uppercase;
}


@media screen and (min-width: 834px){
    .main, .footer{
        padding: 35px;
    }

    .header picture{
        display: inline-block;
        width: 100%;
        max-width: 145px;
    }
}

@media screen and (min-width: 1440px){
    .main, .footer{
        padding: 50px;
    }

    .mobile-copy{
        display: none;
    }

    .desktop-copy{
        display: block;
    }
}


